<tr>
  <td><%= subject.id %></td>
  <td><%= link_to subject.name, admin_subject_path(subject) %></td>
  <td>
    <%= link_to "", edit_admin_subject_path(subject), class: "glyphicon
      glyphicon-pencil btn btn-warning btn-sm" %>
    <%= link_to "", admin_subject_path(subject),
      method: :delete, data: {confirm: t("confirm")},
      class: "glyphicon glyphicon-trash btn btn-danger btn-sm" %>
  </td>
</tr>
