<div class="single_answer">
  <div class="panel panel-info fields">
    <div class="panel-heading">
      <%= f.label :content, t("admin.question.answer") %>
    </div>
    <div class="panel-body">
      <%= f.text_field :content, class: "form-control question_content",
        readonly: true %>
      <%= f.check_box :correct, class: "checkbox_answer", disabled: "disabled" %>
      <%= f.label :correct, t("admin.word.correct"), class: "correct_answer" %>
    </div>
  </div>
</div>
